<header>
    <a id="logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="size_img" src="~/assets/logo/logo.png" /></a>
    <nav>
        <!--<nav id="menu">-->
        <ul>
            <li class="link">
                @Html.ActionLink("Home", "Index", "Home", null, new { style = "text-decoration:none" })
            </li>
            <li class="link">
                @Html.ActionLink("Produto", "Index", "Produto", null, new { style = "text-decoration:none" })
            </li>
            <li class="link">
                @Html.ActionLink("Adicionar", "Form", "Produto", null, new { style = "text-decoration:none" })
            </li>

            <!--if(WebSecurity.IsAuthenticated)-->
            @if (User.Identity.IsAuthenticated)
            {
                <li class="link">
                    @Html.ActionLink("Logout", "Logout", "Login", null, new { style = "text-decoration:none" })
                </li>
            }
            else
            {
                <li class="link">
                    @Html.ActionLink("Login", "Index", "Login", null, new { style = "text-decoration:none" })
                </li>
            }
        </ul>
    </nav>
</header>
